<section class="container">

<h2 class="titulo">Transactions</h2>
<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Date</th>
    <th class="tabela__cabecalho__conteudo">Value</th>
    <th class="tabela__cabecalho__conteudo">Destiny</th>
  </thead>
  <tbody *ngIf="transactions.length > 0; else emptyList">
    <tr class="tabela__linha" *ngFor="let transaction of transactions">
      <td class="tabela__conteudo">
        {{ transaction.data | date: "short" }}
      </td>
      <td class="tabela__conteudo">
        {{ transaction.valor | currency }}
      </td>
      <td class="tabela__conteudo">{{ transaction.destino }}</td>
    </tr>
  </tbody>
</table>

<ng-template #emptyList>
  <p>None Transaction</p>
</ng-template>
</section>
